.App{
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 400px;
  border-radius: 5px;
  padding: 10px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container>div{
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container>div,button{
  padding: 5px 10px;
  border-radius: 3px;
}

input{
  margin-left: 5px;
}

input,button{
  border: none;
  outline: none;
}

input,input::placeholder{
  font-family: inherit;
  font-weight: 400;
}

button{
  background-color: gray;
  color: white;
  font-family: inherit;
  cursor: pointer;
}

.weather-container{
  text-align: left;
  padding: 20px 5px;
}

.main{
  text-align: center;
}

.weather-container .header{
  display: flex;
  align-items: center;
  justify-content: space-around
}

.weather-container img{
  height: 50px;
  width: 50px;
}

.weather-info{
  padding-left: 5px;
}